body{
    background-color: #C2E6FA;
    font-family: 'Roboto Slab', serif;
}
.carousel-item{
    object-fit: cover;
}
.carousel-item img{
    height: 400px;
}
section h1{
    color:red;
    font-family: 'Roboto Slab', serif;
}
#row-cat{
    background-color: #E0E1E2;
}
.display-4{
    color: red;
}
.jumbotron{
    background-size: cover;
    background-image: url(/images/earn_miles_airline_image2x1.jpeg);
    text-align: center;
}
/* h2{
    color: orange;
} */
#hero-body{
    background-color: #C2E6FA;
}
.navbar{
    background-color: #F69F48;
}
.card-body p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
  .card-body h5{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
  }