body{
    background-color: #E0E1E2;
}
.carousel-item{
    object-fit: cover;
}
.carousel-item img{
    height: 400px;
}
section h1{
    color:red;
}
#row-cat{
    background-color: #E0E1E2;
}
.display-4{
    color: red;
}
.hero-tex{
    background-color:orange;
    color:black;
    /* font-size: 4rem; */
    font-weight: 500;
    font-family: "FS Lola", "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin: 0 0 1.5rem;
}
.jumbotron{
    background-size: cover;
    background-image: url(/images/istockphoto-936722250-612x612.jpg);
}
h2{
    color: orange;
}